[submodule "Year-1"]
	path = Year-1
	url = git@github.com:whosubashsubedii/Year-1.git

[submodule "Year-2"]
	path = Year-2
	url = git@github.com:whosubashsubedii/Year-2.git

[submodule "Year-3"]
	path = Year-3
	url = git@github.com:whosubashsubedii/Year-3.git

[submodule "Cybersecurity-Fundamentals-Coursework"]
    path = Year-1/2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework
    url = git@github.com:whosubashsubedii/Cybersecurity-Fundamentals-Coursework.git

[submodule "Fundamentals-of-Computing-Coursework"]
    path = Year-1/2nd Semistar/Fundamentals of Computing/Fundamentals of Computing CourseWork/Fundamentals-of-Computing-Coursework
    url = git@github.com:whosubashsubedii/Fundamentals-of-Computing-Coursework.git

[submodule "Java-Programming-Coursework"]
    path = Year-1/2nd Semistar/Programming/Programming CourseWork/Java-Programming-Coursework
    url = git@github.com:whosubashsubedii/Java-Programming-Coursework.git

[submodule "Java-Programming-Coursework"]
    path = Year-1/2nd Semistar/Programming/Programming CourseWork/Java-Programming-Coursework
    url = git@github.com:whosubashsubedii/Java-Programming-Coursework.git
